.singlepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.single_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 25px 30px;
}

.single_up > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_up .single_1 img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.single_up .single_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

.single_up .single_2 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #00121A;
}

.single_up .single_2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #5C7C8A;
}

.single_up a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #00587F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 262px;
  height: 64px;
  background: #F3F5F7;
  border-radius: 10px;
}

.single_down {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 35px;
}

.single_down h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #00121A;
  padding: 20px 40px;
}

.single_down .info_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 15px 0;
  padding: 20px 40px;
}

.single_down .info_1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #00121A;
  padding: 0;
}

.single_down .info_1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #00121A;
}

.single_down .info_1 a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
}

.single_down .info_a1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.single_down .info_a1 a {
  color: #000;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_down .info_a1 img {
  width: 25px;
  margin-right: 10px;
}

.single_down .info_a2 a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00587F;
}

.single_down .info_1:nth-child(even) {
  background: #F0FAFF;
}

.single_down .info_1:nth-child(odd) {
  background: #fff;
}

.single_down .info_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.single_down .info_btn button {
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  cursor: pointer;
}

.single_down .info_btn button img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.single_down .info_btn button:nth-child(odd) {
  width: 262px;
  height: 60px;
  background: #E96464;
  border-radius: 10px;
}

.single_down .info_btn button:nth-child(even) {
  width: 262px;
  height: 60px;
  background: #00587F;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .single_down .info_1 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 425px) {
  .single_up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single_up a {
    margin-top: 20px;
  }
  .single_down .info_1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .single_down .info_1 div:nth-child(2) {
    margin-left: 10px;
  }
  .single_down .info_btn {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single_down .info_btn button:nth-child(odd) {
    margin-bottom: 10px;
  }
  .info_a1 div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info_a1 div:nth-child(2) a {
    margin: 5px 0;
  }
  .info_a2 div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info_a2 div:nth-child(2) a {
    margin: 5px 0;
  }
}

@media (max-width: 375px) {
  .single_down .info_1 h1 {
    font-size: 19px;
  }
  .single_down .info_1 p {
    font-size: 18px;
  }
  .single_up .single_2 h1 {
    font-size: 16px;
  }
  .single_up .single_2 h2 {
    font-size: 12px;
  }
  .info_a1 div:nth-child(2) a {
    font-size: 18px;
  }
  .info_a2 div:nth-child(2) a {
    font-size: 18px;
  }
}
