.link_h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  cursor: text;
}

.link_h1 span {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.activ_p {
  background: rgba(250, 253, 255, 0.05);
  border-left: 6px solid #dde2ff;
  padding: 15px 0 15px 45px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.asos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
}

.asos_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

.asos_1 .navfixed {
  position: fixed;
  background: #0d3f78;
  height: 100vh;
  padding: 0 40px 0 0;
  z-index: 10;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.asos_1 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px;
}

.asos_1 .logo h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 15.4256px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 20px;
}

.asos_1 .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.asos_1 .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 15px 0 15px 35px;
  width: 100%;
}

.asos_1 .links a img {
  margin-right: 20px;
}

.asos_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 70px;
}

.switchs {
  margin-right: 15px;
}

.burger_btn {
  display: none;
  background: white;
  padding: 5px;
  border-radius: 50%;
  outline: none;
  border: none;
  position: absolute;
  top: 35px;
  left: 20px;
}

.burger_btn span {
  width: 35px;
  height: 6px;
  margin: 4px 0;
  background: #0d3f78;
  display: block;
  border-radius: 15px;
}

.up_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px 0 0;
}

.up_nav .user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.up_nav .user_info img {
  border-radius: 50%;
  margin-right: 10px;
}

.up_nav .user_info h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.up_nav .user_info h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #5c7c8a;
}

@media (max-width: 1440px) {
  .asos {
    max-width: 1440px;
  }
  .asos_1 {
    width: 305px;
  }
  .asos_2 {
    max-width: 1100px;
  }
}

@media (max-width: 1024px) {
  .asos {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .asos_1 {
    height: auto;
  }
  .asos_2 {
    margin-top: 10px;
    max-width: 1000px;
    padding-left: 15px;
  }
  .burger_btn {
    display: block;
  }
  .navfixed {
    left: -100%;
  }
  .link_h1 {
    margin-left: 60px;
  }
  #left0 {
    left: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
}

.abiturients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
}

.ab_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.ab_1 .excel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  width: 290px;
  height: 60px;
  background: #0d3f78;
  border-radius: 10px;
}

.ab_1 .excel a img {
  margin-right: 10px;
}

.ab_1 .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-top: 25px;
}

.ab_1 .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: #ffffff;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09),
    2px 4px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}

.ab_1 .input input {
  width: 90%;
  height: 60px;
  border: none;
  outline: none;
  background: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #7595a3;
}

.ab_1 .input button {
  border: none;
  outline: none;
  background: none;
  margin: 20px;
}

.ab_1 .filtr_btn {
  margin-right: 30px;
}

.ab_1 .filtr_btn button {
  background: #ffffff;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09),
    2px 4px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: 20px;
  padding: 17px;
}

.ab_1 .table {
  background: #ffffff;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09),
    2px 4px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  margin-top: 30px;
  width: 98%;
}

.ab_1 .table .table_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 30px;
}

.ab_1 .table .table_up select {
  background: none;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #00121a;
}

.ab_1 .table h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #00121a;
  padding: 20px 30px;
}

.ab_1 .table table {
  width: 100%;
  border-spacing: 0;
}

.ab_1 .table table thead th {
  border-bottom: 2px solid #0d3f78;
}

.ab_1 .table table th {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #00121a;
  padding: 20px 0 20px 50px;
}

.ab_1 .table table th a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #00121a;
}

.ab_1 .table table tbody {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.ab_1 .table table tbody tr:nth-child(even) {
  background: #f0faff;
}

.ab_1 .table table tbody tr:nth-child(odd) {
  background: #fff;
}

.ab_1 .table table tbody button {
  border: none;
  outline: none;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.ab_1 .table table tbody button img {
  width: 25px;
  height: 22px;
}

.ab_1 .table table tbody button:nth-child(1) {
  background: #0d3f78;
  border-radius: 8px;
}

.ab_1 .table table tbody button:nth-child(2) {
  background: #e96464;
  border-radius: 8px;
}

.ab_1 .table table tbody tr:last-child th:first-child {
  border-bottom-left-radius: 14px;
}

.ab_1 .table table tbody tr:last-child th:last-child {
  border-bottom-right-radius: 14px;
}

.class_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal {
  position: relative;
}
.class_modal .modal {
  width: 678px;
  height: 511px;
  background: #ffffff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 30px 50px 30px;
}

.class_modal .modal input {
  width: 600px;
  height: 64px;
  border: 1.5px solid #47606b;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  background: none;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #5c7c8a;
  margin-top: 15px;
}

.class_modal .modal h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #00121a;
  margin-top: 35px;
}

.class_modal .modal h1 span {
  color: #0d3f78;
}

.class_modal .modal .modal_btn {
  margin-top: 45px;
}

.class_modal .modal button {
  width: 262px;
  height: 60px;
  outline: none;
  border: none;
  cursor: pointer;
}

.class_modal .modal button:nth-child(1) {
  background: #f3f5f7;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #0d3f78;
  margin-right: 10px;
}

.class_modal .modal button:nth-child(2) {
  background: #0d3f78;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 10px;
}

.class_modal .modal .close_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}

.class_modal .modal .close_btn img {
  cursor: pointer;
}

#right_100 {
  right: -100%;
}

#right_0 {
  right: 0;
}

.ab_2 {
  background: #ffffff;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09),
    2px 4px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 1;
}

.ab_2 .ab_2_close {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  left: 20px;
}

.ab_2 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  padding-bottom: 30px;
}

.ab_2 h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
  padding-bottom: 10px;
}

.ab_2 .form_ab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  /* margin: 0 30px; */
}

.ab_2 .form_ab .form_div {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ab_2 .form_ab .form_div .react-datepicker-wrapper:nth-child(1) {
  margin-right: 20px;
}

.ab_2 .form_ab .form_div input {
  border: 1px solid #0d3f78;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  width: 161px;
  height: 44px;
  outline: none;
  background: none;
  padding-left: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #7595a3;
}

.ab_2 .form_ab .form_div .react-datepicker__input-container::before {
  content: "";
  background: url(../icons/calendar.svg);
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  top: 6px;
  left: 6px;
}

.ab_2 .form_ab .form_div select {
  border: 1px solid #0d3f78;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  width: 341px;
  height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #00121a;
  text-align: left;
  outline: none;
  background: none;
}

.ab_2 .form_ab .MuiTypography-body1 {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}

.ab_2 .form_ab .ab_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ab_2 .form_ab .ab_check .MuiCheckbox-colorPrimary.Mui-checked {
  color: #0d3f78;
}

.ab_2 .form_ab .ab_switch {
  margin-top: 20px;
}

.ab_2 .form_ab .ab_switch .MuiSwitch-root {
  width: 85px;
  height: 55px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ab_2 .form_ab .ab_switch .MuiSwitch-switchBase {
  top: 7px;
  left: 8px;
}

.ab_2 .form_ab .ab_switch .MuiSwitch-thumb {
  width: 23px;
  height: 23px;
}

.ab_2 .form_ab .ab_switch .MuiSwitch-switchBase.Mui-checked {
  -webkit-transform: translateX(29px);
  transform: translateX(29px);
}

.ab_2 .form_ab .ab_switch .MuiSwitch-track {
  border-radius: 15px;
}

.ab_2 .form_ab .ab_switch .MuiSwitch-colorPrimary.Mui-checked {
  color: #fff;
}

.ab_2
  .form_ab
  .ab_switch
  .MuiSwitch-colorPrimary.Mui-checked
  + .MuiSwitch-track {
  background-color: #0d3f78;
}

.ab_2 .form_ab .ab_switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  opacity: 1;
}

.ab_2 .form_ab .form_button {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #0d3f78;
  border-radius: 10px;
  width: 341px;
  height: 60px;
  border: none;
  outline: none;
  margin-top: 45px;
  margin-bottom: 80px;
}

.qoshish {
  margin-top: 25px;
}

.qoshish .q_link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #47606b;
}

.qoshish .q_link a img {
  margin-right: 9px;
}

.qoshish .imgBlock1 {
  margin-top: 42px;
}

.infoBlock {
  margin-top: 38px;
}

.infoBlock > p {
  margin-bottom: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000;
}

.infoBlock div {
  margin-top: 28px;
}

.infoBlock div p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000;
}

.infoBlock div input {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000;
  background: #f4f5f7;
  border: 1.5px solid #d6d9e1;
  border-radius: 10px;
  padding: 18px 10px;
  outline: none;
  width: 600px;
}

.infoBlock .btnS {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.infoBlock .btnS a {
  background: #f3f5f7;
  border-radius: 10px;
  margin-right: 24px;
  padding: 18px 80px;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 20px;
  color: #00587f;
}

.infoBlock .btnS a:nth-child(2) {
  background: #0d3f78;
  color: #fff;
}

.infoBlock .selectBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.infoBlock .selectBlock select {
  margin-bottom: 28px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #5c7c8a;
  width: 500px;
  padding: 22px 16px;
  background: #f4f5f7;
  border: 1.5px solid #d6d9e1;
  border-radius: 10px;
}

.infoBlock .fileBlock > p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 12px;
}

.infoBlock .fileBlock > div {
  background: #eaf5fa;
  border: 1px dashed #009fe5;
  border-radius: 10px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.infoBlock .fileBlock > div > img {
  margin-right: 16px;
}

.infoBlock .fileBlock > div .NoneFile {
  display: none;
}

.infoBlock .fileBlock > div p label {
  cursor: pointer;
  text-decoration: underline;
}

.DateBlock p {
  margin-bottom: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000;
}

.DateBlock div {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.DateBlock div .dateInput {
  width: 118px;
  padding: 22px 16px;
  margin-top: 0;
}

.DateBlock div .dateInput:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 1024px) {
  .class_modal .modal {
    width: 570px;
    height: 460px;
    padding: 15px 30px 50px 30px;
  }
  .class_modal .modal input {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .asos_2 {
    max-width: 750px;
    margin-top: 0;
  }
  .burger_btn {
    top: 25px;
  }
  .ab_1 .table table th {
    padding: 15px 0 15px 20px;
  }
  .ab_1 .table table tbody tr th:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 425px) {
  .asos_2 {
    max-width: 405px;
  }
  .up_nav {
    padding: 0;
  }
  .up_nav .user_info {
    margin-left: 20px;
  }
  .link_h1 {
    font-size: 22px;
  }
  .ab_1 .table {
    overflow-x: scroll;
  }
  .ab_1 .table table {
    width: 200%;
  }
  .ab_2 {
    padding: 50px 25px 0px 25px;
  }
  .infoBlock div input {
    width: 300px;
  }
  .infoBlock .fileBlock > div {
    width: 300px;
  }
  .infoBlock .fileBlock > div p {
    font-size: 14px;
  }
  .infoBlock .fileBlock > div > img {
    width: 22px;
  }
  .DateBlock div .dateInput {
    width: 75px;
    padding: 15px 10px;
  }
  .infoBlock .btnS {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .infoBlock .btnS a {
    margin-bottom: 10px;
    width: 303px;
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .infoBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .qoshish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .infoBlock .selectBlock select {
    width: 278px;
  }
  .infoBlock .btnS {
    margin-top: 20px;
  }
  .infoBlock .btnS a {
    margin: 10px auto;
  }
  .link_h1 {
    font-size: 16px;
  }
  .link_h1 span {
    font-size: 16px;
  }
  .up_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .up_nav > div:nth-child(1) {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .link_h1 {
    margin-left: 0;
    margin-top: 15px;
  }
  .up_nav .user_info {
    margin-left: 5px;
  }
  .up_nav .user_info h2 {
    font-size: 13px;
  }
  .ab_1 .table table th a {
    font-size: 14px;
  }
  .ab_1 .table table th {
    font-size: 14px;
  }
  .ab_1 .table table tbody button img {
    width: 17px;
    height: 17px;
  }
  .ab_1 .table table th {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ab_1 .input input {
    font-size: 16px;
  }
  .ab_1 .excel a {
    font-size: 18px;
    height: 48px;
    width: 230px;
  }
}

@media (max-width: 375px) {
  .asos_2 {
    max-width: 355px;
  }
  .link_h1 {
    font-size: 14px;
    margin-right: 10px;
  }
  .link_h1 span {
    font-size: 13px;
  }
  .up_nav .user_info h1 {
    font-size: 14px;
  }
  .up_nav .user_info h2 {
    font-size: 13px;
  }
  .burger_btn {
    top: 22px;
  }
  .ab_1 .input input {
    font-size: 16px;
  }
  .ab_1 .table h1 {
    font-size: 17px;
  }
  .ab_1 .table table th {
    font-size: 16px;
  }
  .ab_1 .table table th a {
    font-size: 16px;
  }
  .ab_2 {
    width: 280px;
  }
  .ab_2 .form_ab {
    margin: 0;
  }
  .ab_2 .form_ab .form_div {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .ab_2 .form_ab .form_div .react-datepicker-wrapper {
    margin: 10px 0;
  }
  .ab_2 .form_ab .form_div .react-datepicker-wrapper input {
    width: 200px;
  }
  .ab_2 .form_ab .form_div select {
    width: 250px;
  }
  .ab_2 .form_ab .form_button {
    width: 250px;
  }
}

@media (max-width: 320px) {
  .asos_2 {
    max-width: 300px;
  }
  .up_nav .user_info {
    margin: 0;
  }
  .infoBlock div input {
    width: 255px;
  }
  .infoBlock .fileBlock > div {
    width: 255px;
  }
  .infoBlock .fileBlock > div p {
    font-size: 12px;
  }
  .infoBlock .btnS a {
    width: 278px;
  }
  .DateBlock div .dateInput:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
  .DateBlock div .dateInput {
    width: 64px;
  }
}
