.library-box .header {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  background: rgba(0, 46, 102, 1);
}
.library-box .header span {
  position: absolute;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  left: 60px;
  bottom: 15px;
}
.library-box .book-box,
.library-box .video-course,
.library-box .audio-box {
  border: 1px solid rgba(38, 71, 150, 0.1);
}
.library-box .date {
  margin-top: 50px;
  text-align: center;
  color: rgba(151, 151, 151, 1);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}
