* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  text-decoration: none;
  /* color: #fff; */
}

.preloader-box {
  width: 100%;
  height: 100vh;
  background: #002e66;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: Overlay;
  animation-duration: 3s;
}
.preloader-box .vertical-dash {
  width: 1.5px;
  height: 44px;
  background: #fff;
  margin: 0 12px;
}
.preloader-box .content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.preloader-box .content span {
  font-size: 12px;
}
.preloader-box .name {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  line-height: 45px;
}
.top-bg-image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.bottom-bg-image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@keyframes Overlay {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 1024px) {
  .top-bg-image img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }
  .bottom-bg-image img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
  }
}
