@media (max-width: 768px) {
  .swipe {
    display: block;
    width: 100%;
    padding: 5px 25px;
    font-size: 12px;
    color: #ccc;
  }
  .swipe i {
    margin-left: 5px;
  }
  .search-box {
    margin-top: 10px;
    padding: 0 15px;
    padding-bottom: 100px;
    min-height: 95vh;
  }
  .search-box .banner {
    display: flex;
    align-items: center;
    height: 92px;
    background: linear-gradient(94.07deg, #f3f6fb 0%, #d1d8e3 100%);
    padding: 16px 20px;
  }
  .search-box .text {
    margin-left: 16px;
  }
  .search-box .logo {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .search-box .logo img {
    border-radius: 50%;
  }
  .search-box .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-style: normal;
    color: rgba(0, 46, 102, 1);
  }
  .search-box .location {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    font-style: normal;
    color: rgba(151, 151, 151, 1);
  }
  .search-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-input .input {
    width: 100%;
    margin-right: 4px;
  }
  .search-input input {
    display: block;
    height: 44px;
    width: 100%;
    padding: 20px;
    border: 0.2px solid rgba(196, 196, 196, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px rgba(0, 35, 78, 0.15);
  }
  .search-input input::placeholder {
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-weight: 300;
  }
  .search-input .filter {
    width: 44px;
    height: 44px;
    background: rgba(0, 46, 102, 1);
    border-radius: 6px;
    box-shadow: 0px 2px 6px 0px rgba(0, 23, 50, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .search-input .filter img {
    margin-top: -5px;
  }
  .filter-box {
    padding: 0 15px;
    padding-top: 40px;
  }
  .filter-box button {
    margin-top: 86px;
    background: linear-gradient(180deg, #0a55b1 13.54%, #01306a 100%);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    border-radius: 50px;
    border: 1px solid #002e66;
    font-weight: 700;
    text-decoration: none;
  }
  .filter-side {
    transition: all 0.3s ease;
    position: absolute;
    z-index: 100;
    background: #fff;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .user-filter-side {
    transition: all 0.3s ease;
    position: absolute;
    z-index: 100;
    background: #fff;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .filter-side.toggle {
    height: 100vh;
    visibility: visible;
  }
  .user-filter-side.toggle {
    height: 100vh;
    visibility: visible;
  }
}
