.shoping-nav {
  display: block;
  width: 100%;
  height: 100px;
  background: rgba(0, 46, 102, 1);
  padding: 16px;
  padding-bottom: 0;
}
.shopping-box .top-nav {
  display: flex;
  align-items: center;
}
.shopping-box .top-nav span {
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
}
.top-nav span:nth-child(1) {
  margin-bottom: 8px;
  height: 2px;
}
.top-nav .logo {
  display: block;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  margin: 0 auto;
}
.top-nav .cart {
  position: absolute;
  right: 50px;
  font-size: 22px;
  color: #fff;
}
.top-nav .cart .count-basket {
  position: absolute;
  top: -7px;
  left: 15px;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shoping-nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  width: 100%;
}
.nav-links .active {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.shopping-box .shoping-search {
  position: relative;
  display: block;
  width: 100%;
  padding: 22px 17px 30px 17px;
}
.shoping-search input {
  display: block;
  width: 100%;
  border: 0.3px solid rgba(229, 229, 229, 1);
  border-radius: 5px;
  padding: 6px 30px;
}
.shoping-search input::placeholder {
  color: rgba(218, 218, 218, 1);
}
.shoping-search i {
  position: absolute;
  left: 25px;
  top: 34.5px;
  color: rgba(218, 218, 218, 1);
}
.audio-box {
  display: flex;
  width: 100%;
  height: 100px;
  box-shadow: 0px 2px 6px 1px rgba(38, 71, 150, 0.1);
  margin-bottom: 20px;
}
.audio-box .audio-img {
  display: block;
  width: 100px;
  height: 100%;
}
.audio-box .audio-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.audio-box .play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(38, 71, 150, 0.2);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.audio-data {
  padding: 12px;
  width: 100%;
}
.audio-data .item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.audio-box .item audio {
  width: 100%;
  height: 40px;
}
.audio-box audio::-webkit-media-controls-panel {
  background-color: #fff;
}

.audio-data .item .title {
  color: rgb(4, 60, 129);
  font-size: 14px;
  font-weight: 600;
  margin-top: 6px;
}
.audio-data .item .short-description {
  width: 120px;
  font-size: 12px;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.audio-data .buy-btn {
  position: absolute;
  right: 0px;
  bottom: 5px;
}
.buy-btn i {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 22px;
  color: #ccc;
}
.buy i {
  font-size: 22px;
  color: #ccc;
}
.audio-data .price {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
  bottom: 2px;
  color: rgba(255, 164, 0, 1);
}

.audio-data .price span {
  font-weight: 700;
  font-size: 14px;
  margin: 0 5px;
}
.price label {
  font-size: 12px;
}
.video-course {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 330px;
  margin-top: 20px;
}
.video-course.detail {
  min-height: 250px;
  margin-bottom: 20px;
}
.video-course .video {
  position: relative;
  display: block;
  width: 100%;
  min-height: 170px;
  overflow: hidden;
}
.video-course .video video {
  width: 100%;
  height: 200px;
}
.video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.video img {
  width: 100%;
  object-fit: cover;
}
.video-course .content {
  width: 100%;
  min-height: 114px;
  padding: 16px;
}
.content .title {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: rgba(1, 68, 151, 1);
}
.content .short-description {
  font-size: 14px;
  color: rgb(156, 154, 154);
  text-align: left;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .price {
  display: flex;
  align-items: center;
  color: rgba(153, 153, 153, 1);
  font-weight: 400;
  font-size: 14px;
}
.content .price span {
  margin-left: 4px;
}
.content a {
  color: rgba(1, 68, 151, 1);
}
.book-box {
  padding: 0 15px;
  margin-bottom: 20px;
}
.detail-text {
  width: 100%;
  white-space: pre-wrap !important;
  overflow: unset;
  text-overflow: unset;
}
.book {
  display: flex;
  overflow: hidden;
  box-shadow: 0px 2px 6px 0px rgba(38, 71, 150, 0.1);
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.6);
}
.book-box .content {
  padding: 10px;
  width: 70%;
}
.book-box .content .title {
  font-size: 15px;
  font-weight: 600;
  color: rgba(1, 68, 151, 1);
}
.book-box .short-description {
  font-size: 13px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-box .book-img {
  width: 100%;
  object-fit: cover;
}
.book-box .book-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buy-box {
  display: block;
  width: 100%;
  height: 100vh;
}
.buy-box .form-box {
  padding: 0 15px;
}

.buy-box .form-box span {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: rgba(153, 153, 153, 1);
}
.buy-box .form-box input {
  margin-top: 10px;
}
.buy-box .form-box button {
  width: 90%;
  position: absolute;
  bottom: 50px;
  background: linear-gradient(180deg, #0a55b1 13.54%, #01306a 100%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #013069 0%, #0a55b1 100%);
  box-shadow: 0px 2px 6px 0px rgba(0, 46, 102, 0.35);
  color: #fff;
}
.buy-box .topbar {
  display: block;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 30px;
}
.topbar .title {
  position: absolute;
  left: 60px;
  bottom: 15px;
  font-size: 17px;
  font-weight: 700;
  color: rgba(66, 66, 66, 1);
}
.buy-box #bro-icon {
  position: absolute;
  top: 138px;
  left: 125px;
}
@media (min-width: 950px) {
  .shopping-box {
    padding: 0 25%;
  }
}
